
.top-container
{
    position: relative;
  text-align: center;
<<<<<<< HEAD
  margin: auto;
=======
  margin: 0px,0px,0px,0px;
>>>>>>> 084339c648f301f19bcb89b4cec75e0bbdf4279d
  background-image: "images/image-top.jpg";
  background-size: cover;
  width: 500px;
  left: 0%;
}
.top-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: 'Alex Brush', Arial, Helvetica, sans-serif;
    font-size: 350%;
}
.web-developer{
    
font-family: 'Poiret One', cursive;
    font-size: 40px;
}
.middle-container{
    position: relative;

}
.bottom-container{
    position: relative;
}

img{
    background-image: inherit;
    background-repeat: no-repeat;
<<<<<<< HEAD
    width: 100%;
    left: 0%;
    object-fit: cover;
}
.contact-me-twitter
{
    float: unset;
    position: absolute;
    width: 8%;
    top:80%;
    left: 40%;
}
.contact-me-gmail
{
    float: unset;
    position: absolute;
    width: 8%;
    top:81%;
    left: 50%;
}
.contact-me-instagram
{
    float: unset;
    position: absolute;
    width: 7%;
    top:80.5%;
    left: 60%;
}
=======
    width: 500px;
    left: 0%;
}
>>>>>>> 084339c648f301f19bcb89b4cec75e0bbdf4279d
